{% extends 'layout.html' %}
{% block content %}
    <div class="container mx-auto">
        <div class="flex gap-x-3 items-end mb-4">
            <h1 class="font-bold text-2xl mt-2">Projetos</h1>
            <a 
                href="{% url 'projects:new' %}" 
                class="px-2 py-1 bg-indigo-500 text-gray-100">
                Novo
            </a>
        </div>
        <table class="w-full table-auto md:table-fixed">
            <thead>
                <tr class="bg-indigo-200 text-left">
                    <th class="p-1">ID</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                <tr class="border-b-2 border-solid">
                    <td class="p-1">{{project.id}}</td>
                    <td class="p-1">{{project.name}}</td>
                    <td class="p-1">{{project.description}}</td>
                    <td class="p-1">
                        <a 
                            href="{% url 'projects:edit' project_id=project.id %}"
                            class="px-2 py-1 bg-gray-200 inline-block">
                            Editar
                        </a>
                        <a 
                            href="{% url 'projects:manage_actions_matrix' project_id=project.id %}"
                            class="px-2 py-1 bg-green-200 mx-2 inline-block">
                            Matriz de Ações
                        </a>
                        <a 
                            href="{% url 'projects:manage_levels' project_id=project.id %}"
                            class="px-2 py-1 bg-gray-200 mx-2 inline-block">
                            Gerenciar
                        </a>
                        <form 
                            class="inline"
                            action="{% url 'projects:delete' project_id=project.id %}" 
                            method="post">
                            {% csrf_token %}
                            <input type="hidden" name="_method" value="delete">
                            <button class="bg-red-300 px-2 py-1">Excluir</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}